[2016-05-20 08:58] richelbilderbeek opened #1 "Add Travis CI"
Including build status badge

[2016-05-20 08:58] richelbilderbeek opened #2 "Add CRAN badge"

[2016-05-20 09:10] richelbilderbeek commented on #1
Done, with both codecov and lintr.

[2016-05-20 09:10] #1 closed

[2016-05-20 09:11] #2 closed

[2016-05-20 11:54] richelbilderbeek opened #3 "Add codecov"
And badge

[2016-05-20 11:54] richelbilderbeek commented on #3
Added!

[2016-05-20 11:54] #3 closed

[2016-07-07 07:28] richelbilderbeek opened #4 "Use tidyr::expand to generate nice series"
_From @richelbilderbeek on June 29, 2016 16:52_

To replace `nLTT::get_stretch_matrix`

_Copied from original issue: richelbilderbeek/Cer2016#81_

[2016-07-07 07:28] richelbilderbeek commented on #4
Adapted from the documentation:

[code]

Results in:

[code]

Conclusion: expand does repetition, instead of interpolation, and is thus unsuitable for this purpose.

[2016-07-07 07:29] richelbilderbeek commented on #4
Conclusion: expand does repetition, instead of interpolation, and is thus unsuitable for this purpose.

Thus this issue is closed.

[2016-07-07 07:29] #4 closed

[2016-07-09 16:21] richelbilderbeek opened #5 "Implement advice from goodpractice package"
The [Travis CI log](https://travis-ci.org/richelbilderbeek/nLTT) shows the result of calling the `goodpractice` package. Here I show the log and who I suggest to fix it.

 * [x] @thijsjanzen:

[code]

 * [x] @richelbilderbeek:

[code]

 * [x] @richelbilderbeek:

[code]

 * [x] @richelbilderbeek:

[code]

 * [x] @thijsjanzen (done by the beloved @richelbilderbeek):

[code]

 * [x] @thijsjanzen:

[c

[2016-07-25 08:51] richelbilderbeek opened #6 "nLTTstat_exact: uses cat instead of stop when distance method is incorrect"
The `nLTTstat_exact` function uses `stop` correctly for testing if its inputs are phylogenies.
However, it reports an error using `cat` when checking for distance_method:

[code]

I suggest to also make this a stop function.

[2016-07-25 08:54] richelbilderbeek commented on #6
Referred to this issue in [the nLTTstat_exact tests](https://github.com/richelbilderbeek/nLTT/blob/master/tests/testthat/test-nLTTstat_exact.R)

[2016-07-25 12:15] richelbilderbeek commented on #6
![cannot_do_codecov](https://cloud.githubusercontent.com/assets/2098230/17100996/3606a814-5272-11e6-8042-15e194f0c7a6.png)

[2016-07-25 13:59] richelbilderbeek opened #7 "Write test for ABC_SMC"
When I take a look at the code coverage, I see ABC_SMC is not tested at all:

![codecov](https://cloud.githubusercontent.com/assets/2098230/17103789/57bddc9e-5280-11e6-8834-1e3f6ec89d75.png)

There was no example code anywhere, so I cannot write this test.

Would these tests be written, code coverage will increase. Code coverage is known to correlate with code quality [1], so now the nLTT package

[2016-07-25 14:05] #6 closed

[2016-08-03 12:22] richelbilderbeek opened #8 "Trees with rooted edge are nLTT plotted in unexpected way"
Also present in the package as the vignette `trees_with_a_root_edge`, here is the vignette converted to PNG:

![trees_with_a_root_edge](https://cloud.githubusercontent.com/assets/2098230/17365279/8a7afff2-5985-11e6-8d2e-d763c7abdff8.png)

[2016-09-12 12:42] richelbilderbeek commented on #8
I changed my mind, I do think it is correct plotting behavior: if the user wants a stem in his/her phylogeny, it is assumed that a stemless phylogeny has stem length zero.

[2016-09-12 12:42] #8 closed

[2016-09-12 12:48] richelbilderbeek opened #9 "nLTT statistic does not take stem into account"
From the vignette `trees_with_root_edge.Rmd`:

![issue](https://cloud.githubusercontent.com/assets/2098230/18436268/c9150618-78f7-11e6-890d-1eda7b67b3f9.png)

@thijsjanzen : do you agree this behavior is incorrect? If yes, I volunteer to fix it.

[2016-09-12 12:49] thijsjanzen commented on #9
This behaviour is incorrect, but I'm unsure what types of trees p and q are?

On 12/09/16 14:48, Richel Bilderbeek wrote:

[2016-09-12 12:52] richelbilderbeek commented on #9
This is how they are created:

[code]

[2016-09-12 12:54] thijsjanzen commented on #9
Ah! Dus de plot is incorrect, en niet de nLTT statistic - aangenomen dat
de nLTT statistic altijd van crown age uitgaat.

Wellicht moeten we hier een paar checks voor inbouwen, zodat de twee
trees die worden vergeleken in gelijke mate geroot zijn... (immers kan
men ook 2 trees vergelijken die beiden geroot zijn, dat hoeft geen
probleem te zijn, mits de gebruiker daar behoefte aan heeft).

On 12/09

[2016-09-12 13:00] richelbilderbeek commented on #9
I think the plot *is* correct, as I think it is natural to assume that `a tree without a root` == `a tree with a root length of zero`. I think the nLTT statistic should take the root lengths into account, unless you disagree (you are the authority here :sunglasses: ).

[2016-09-12 13:42] richelbilderbeek commented on #9
One backwards-compatible fix may be:

[code]

where `from` may also be `root`.

This does not have my preference, as I cannot see why the nLTT statistic would ignore stems. But again, you are the authority here :rainbow:

[2016-09-12 14:29] thijsjanzen commented on #9
You are right, the plot is correct, and the nLTT function is incorrect. Off the top of my head I'm not entirely sure how to change the code to incorporate the root - the branching times function of ape doesn't have any extra flags... we could try and add the root time to the branching times vector?

I like the idea of an extra from argument, as this also makes it for the user more explicit what is

[2016-09-12 15:14] richelbilderbeek commented on #9
Let me fix that function, you'll see :sunglasses:

I am not a fan of adding the extra argument, as it just makes the natural assumption ('stems are also tracked') explicit, at the cost of making the user interface more complex. OTOH, I am not impressed by my own reasoning myself and I think both options (adding an extra argument yes/no) are close to equally good.

But, unless you change your mind

[2016-09-13 09:35] #9 closed

[2016-09-13 09:49] richelbilderbeek opened #10 "Suggestion: use Roxygen2"
Hadley Wickham's book `R Packages` suggests to use Roxygen2 for documentation.

The main arguments are:

 * documentation can be placed above the function in the `R` file, documentation will be generated from that
 * Roxygen2 will manage `NAMESPACE` itself

If @thijsjanzen agrees, I volunteer to port the current LaTeX documentation to Roxygen2 style.

[2016-09-13 09:50] thijsjanzen commented on #10
Agreed

[2016-09-13 10:18] richelbilderbeek commented on #10
I close this issue, as the first step has been taken.

[2016-09-13 10:18] #10 closed

[2016-09-13 11:23] richelbilderbeek opened #11 "Suggestion: release v1.3"
Current release is v1.2.1.
As the interface of a function has been changed, I suggest to have a new release on GitHub with version 1.3

@thijsjanzen : agree?

[2016-09-13 11:44] thijsjanzen commented on #11
@richelbilderbeek: Agreed

Should we also push 1.3 to CRAN?

[2016-09-13 11:47] richelbilderbeek commented on #11
I understood CRAN does not like new versions being delivered frequently and I have had no experience with them.

Personally, I'd say: yes, we should publish 1.3 to CRAN :+1:

[2016-09-13 12:05] thijsjanzen opened #12 "v1.3 check errors"
When checking the tar ball ("R CMD check --as-cran nLTT-1.3.tar.gz") I receive the following error:

checking package dependencies ... ERROR
Packages suggested but not available: ‘microbenchmark’ ‘rmarkdown’ ‘testit’

The suggested packages are required for a complete check.
Checking can be attempted without them by setting the environment
variable _R_CHECK_FORCE_SUGGESTS_ to a false value.

See s

[2016-09-13 12:30] richelbilderbeek commented on #12
You'll have to install those packages on your local computer :sunglasses:

Sure, you can have the honor of doing that

[2016-09-13 12:47] thijsjanzen commented on #12
Yup, that was it...

[2016-09-13 12:47] #12 closed

[2016-09-13 13:47] richelbilderbeek opened #13 "Other users cannot use nLTT as they should"
I've noticed at another user that

[code]

I am unsure why this is. As a first guess, I'd say

 * [x] let Roxygen2 handle as much as possibe
 * [x] do a `devtools::build_vignette` (I noticed this sometimes caused my `.Rmd` vignette code to disappear)

@thijsjanzen : I suggest not to push to CRAN yet, and first have this fixed. Optional: can you confirm the same behavior at another end user?

[2016-09-13 13:47] richelbilderbeek commented on #11
Due to #13 I suggest first to fix #13

[2016-09-13 13:49] thijsjanzen commented on #13
This seems like an interesting problem. Unfortunately I have already pushed to CRAN.

[2016-09-13 13:53] richelbilderbeek commented on #13
No problemo. OK if I try to fix it myself tomorrow?

[2016-09-13 13:53] thijsjanzen commented on #13
Sure!

[2016-09-14 06:53] thijsjanzen opened #14 "Licensing"
After submission I received the following feedback:

I suggest we change to instead of "file LICENSE" to put "GNU" (which is not non-FOSS)

[2016-09-14 06:56] richelbilderbeek commented on #14
Well, the file LICENSE contains the GPL-2 license (and `lintr` made me do this change), and I expected this to be spotted by CRAN.

I suggest to change the license entry in DESCRIPTION to `GPL-2`.

[2016-09-14 11:25] richelbilderbeek commented on #13
Everything is handled by Roxygen2 now.

I have observed differences myself.

I will test on an end-user later, yet assume it will work, thus closing this issue.

[2016-09-14 11:25] #13 closed

[2016-09-14 11:26] richelbilderbeek commented on #11
Waiting for an end user's review :hourglass_flowing_sand:

[2016-09-14 11:28] richelbilderbeek commented on #14
Done and works fine accoring to Travis.

[2016-09-14 11:28] #14 closed

[2016-09-15 07:59] thijsjanzen commented on #7
Partially done - I have added some abuse tests, haven't been able to do a usage test - find a simple case in which we can easily use ABC-SMC and know the expected results. I will get back to that.

[2016-09-15 08:02] richelbilderbeek commented on #7
Awesome! Let's go for that 100% code coverage :sunglasses:

[2016-09-15 15:27] thijsjanzen commented on #7
Done, 100% reached!

[2016-09-15 15:27] #7 closed

[2016-09-15 15:27] thijsjanzen commented on #5
Done

[2016-09-15 15:27] #5 closed

[2016-09-15 15:42] thijsjanzen commented on #11
As far as I can see,  all code is now covered, and the vast majority of all code adheres to LintR.

recently, it appears that the number of downloads has decreased a little bit:

![zmc6ok1](https://cloud.githubusercontent.com/assets/19486664/18556470/ac98c3e6-7b6b-11e6-9844-6dfa41daac1b.png)

Let's boost the usage of nLTT!

[2016-09-15 16:11] richelbilderbeek commented on #11
Yes, let's write an article using the nLTT statistics or so :-)

[2016-09-15 18:20] thijsjanzen opened #15 "Copy vignettes to Wiki"
- [1] - Copy vignettes to Wiki
- [2] - Add corresponding figures

[2016-09-15 21:51] thijsjanzen commented on #15
Done - although I have not inserted all the figures...
Rather, I have made a general examples page.

[2016-09-15 21:51] #15 closed

[2016-09-19 14:35] thijsjanzen commented on #11
I have tried installing the devtools package on our cluster (in order to be able to install from GitHub), but unfortunately some dependencies of the devtools cluster fail to install... so no end-users experience here so far...

When installing locally using devtools, things seem to go allright, the command
```"browseVignettes("nLTT")"``` works perfectly.
For some reason however, the function mcmc_

[2016-09-20 06:29] richelbilderbeek commented on #11
In case you want to make a private function public, to the Roxygen2 documentation, add

[code]

to make it a public function.

In case it is about a function name alias, I did ruthlessly delete some of these when porting the documentation to Roxygen2. Perhaps the one you need needs to be added again.

[2016-09-20 08:25] richelbilderbeek commented on #11
Fixed with commit 97165e658395ffc3c8893e1bc622abf85e4b63bf

[2016-09-24 09:02] thijsjanzen commented on #11
I think everything seems to work - however, two Vignettes share the same name, and have a very similar introduction. Could you fix this @richelbilderbeek ?

[2016-09-24 09:05] richelbilderbeek opened #16 "Check and perhaps merge vignettes"
Two vignettes have the same name and are very similar.

Check this, merge if needed.

[2016-09-24 09:06] richelbilderbeek commented on #11
I will fix #16 on Monday.

[2016-09-26 09:54] #16 closed

[2016-09-26 09:55] richelbilderbeek commented on #11
Fixed #16 , well done @richelbilderbeek !

[2016-10-04 10:00] thijsjanzen commented on #11
Is there any progress here with the end-user experience? Otherwise I suggest we push the package to CRAN

[2016-10-04 17:11] richelbilderbeek commented on #11
No progress in UX measurements. If you have the guts (I'd bet: yes, you have), do it :-)

[2016-10-06 13:15] thijsjanzen opened #17 "Issues in testthat"
It seems that after submission, three issues have popped up, found here: https://cran.r-project.org/web/checks/check_results_nLTT.html

[code]

@richelbilderbeek is microbenchmark necessary?

[code]

@richelbilderbeek: I think with updating to nltts_plot etc, some things have become broken somehow?

[code]

@richelbilderbeek can you check your vignette?

[2016-10-06 13:17] thijsjanzen commented on #17
I wrote a new vignette btw, and found some errors in the manual, so I'm planning to submit version 1.3.1 very soon to CRAN - these errors can be caught then as well.

[2016-10-06 13:22] richelbilderbeek commented on #17
Nope.

It appears so

I will tomorrow.

[2016-10-06 13:27] thijsjanzen commented on #17
Line @test_get_average_nltt_matrix.R#174 involves:
[code]

Apparently microbenchmark is not supported in solaris or so?
In [the manual of the microbenchmark package](https://cran.r-project.org/web/packages/microbenchmark/microbenchmark.pdf), they do report the following:

[2016-10-06 13:28] richelbilderbeek commented on #17
Ah, it's a test to check which implementation is faster. I will remove the slower one, tomorrow :-)

[2016-10-07 09:10] richelbilderbeek commented on #17
Alrighty, microbenchmarks are removed. I now try to reproduce the vignette error...

[2016-10-07 09:52] richelbilderbeek commented on #17
I cannot reproduce the vignette error.

@thijsjanzen: How did you obtain it?

I've tried `devtools::build_vignettes()` but that works fine. Travis CI is -AFAIK- happy with my work as well.

[2016-10-07 12:35] thijsjanzen commented on #17
I found them here @richelbilderbeek https://cran.r-project.org/web/checks/check_results_nLTT.html

[2016-10-08 11:30] richelbilderbeek commented on #17
OK, I have increased the warning level of `vignette_get_nltt_values.Rmd` and got it to knit using `CTRL+K` without problems locally. `devtools::build_vignettes()` also works fine. I suggest to resubmit to CRAN if Travis CI is still OK...

[2016-10-08 11:44] richelbilderbeek opened #18 "Suggestion: have a develop branch"
To ensure the stability of nLTT, I suggest to add a `develop` branch. [Here](https://git-scm.com/book/en/v2/Git-Branching-Branching-Workflows) is the more detailed version of what I mean :-)

I suggest to set this repo to `master` branch by default for our users.

[2016-10-08 12:26] richelbilderbeek opened #19 "Satisfy lintrbot"
When building the vignettes, with `devtools::build_vignettes()` from within R, then `./clean_vignettes.sh` from the CLI, [lintr-bot has some complaints about the walkthrough vignette](https://github.com/richelbilderbeek/nLTT/commit/8a03561b6947e8b5d7c53af16cdcb75f9975a1f7#commitcomment-19345954).

Tip: you can silence a warning that cannot be fixed (e.g. `library(nLTT)`) with `# nolint`

[2016-10-08 12:29] thijsjanzen commented on #18
Sounds good! This is exactly where my Git knowledge starts to taper off, so I'm happy if you can take care of this @richelbilderbeek

[2016-10-08 12:30] thijsjanzen commented on #17
I agree, we'll see if CRAN complains again. Should be fine though...

Alternatively, we could add "skip_on_cran()" flags?

[2016-10-08 12:38] richelbilderbeek commented on #17
Well, the tests are fine now, so no need to skip those :sunglasses:

Building the vignette `vignette_get_nltt_values.Rmd` is a problem I cannot reproduce locally nor on Travis! I am curious if I may already have fixed it :pray:

[2016-10-08 12:40] richelbilderbeek commented on #18
I will, probably this week. I will also document the new workflow, so any developer should be able to  follow easily. I suggest you will ask for clarifications if needed :vulcan_salute:

[2016-10-08 15:46] thijsjanzen commented on #19
Fixed the previous issues, but it seems that ./clean_vignettes.sh doesn't work so well here locally (macOS Sierra).
It generates several weird files (e.g. alkthrough.R), and doesn't seem to remove the white spaces..

[2016-10-09 08:15] #11 closed

[2016-10-09 23:19] thijsjanzen commented on #19
something is wrong with the vignette files, perhaps due to ./clean_vignettes.sh

I got the following feedback from CRAN:

[2016-10-10 06:59] richelbilderbeek commented on #19
Did you forget to do `devtools::build_vignettes()` to create the files in `inst/doc`? Because if not, they are right :-)

[2016-10-10 07:21] thijsjanzen commented on #19
I don't think so. I rebuild them though, and ran the .sh file, and got the following errors:

[code]

[2016-10-10 07:43] richelbilderbeek commented on #19
It *is* weird that the files get modified. I can take a look at it tomorrow, but if really want me I can be forced to take a look today.

[2016-10-10 07:44] thijsjanzen commented on #19
Tomorrow is fine

[2016-10-11 16:56] richelbilderbeek commented on #19
The script worked fine on multiple GNU/Linux computers. It was easiest to just fix your typos.

[2016-10-11 16:56] #19 closed

[2016-10-11 16:57] richelbilderbeek commented on #17
So, will it be a go now?

[2016-10-11 16:59] thijsjanzen commented on #17
I'll submit tonight

[2016-10-11 17:01] richelbilderbeek commented on #17
Great! Let's see what happens this time :persevere:

[2016-10-12 07:12] thijsjanzen commented on #17
It's on CRAN now, but the error remains: https://cran.r-project.org/web/checks/check_results_nLTT.html  (results for version 1.3.1)

Also, it seems something has gone horribly wrong with the file paths inside the tar ball - this might be due to me manually removing a number of files I found inside the tar ball that didn't need to be there...

[2016-10-12 07:20] richelbilderbeek commented on #17
Blimey, those *are* some impressive paths! My favorite is `
nLTT/nLTT/nLTT/nLTT/nLTT/nLTT/nLTT/nLTT/nLTT/nLTT/nLTT/nLTT/nLTT/nLTT/nLTT/nLTT/nLTT/nLTT/nLTT/nLTT/nLTT/nLTT/nLTT/nLTT/nLTT/nLTT/nLTT/nLTT/nLTT/nLTT/nLTT/tests/testthat`, because it is the longest.

I will try again to fix it now.

[2016-10-12 07:23] richelbilderbeek commented on #17
The warning ...

[code]

... is caused by Pandoc being absent on the build computer, as described [here](https://github.com/yihui/knitr/issues/1286). Thus, I cannot be blamed on that.

I will check the other one now.

[2016-10-12 07:24] thijsjanzen commented on #17
Given that they are warnings, I don't see any pressing reasons to fix this ASAP.

[2016-10-12 07:28] richelbilderbeek commented on #17
Agree, we even do not have the :zap: to fix the pandoc error. The `the table must have a header (column names)` error I will postpone :smiley: .

[2016-10-17 19:51] thijsjanzen commented on #17
It seems the weird path error has disappeared from the error page: https://cran.r-project.org/web/checks/check_results_nLTT.html

Only the Solaris error (which can't be fixed) and the knitr/markdown error remain

[2016-10-18 07:09] richelbilderbeek commented on #17
Looks like we are as clean as can be now :v:

[2016-10-18 09:47] richelbilderbeek commented on #18
Better idea: I will create a develop branch after #17 has been resolved and the submission to CRAN has been completed.

[2016-11-08 10:42] thijsjanzen opened #20 "Build Error, package dependency on package 'survival' by package 'Hmisc'"
Do we need the package Hmisc?

[2016-11-08 10:52] richelbilderbeek commented on #20
I do use it, but I'd prefer to remove it to get rid of this dependency problem.

[2016-11-08 11:54] richelbilderbeek commented on #20
I'll fix it now

[2016-11-08 12:15] richelbilderbeek opened #21 "Suggestion: use packrat"
With packrat, there would've been no #20

[2016-11-08 12:24] richelbilderbeek commented on #20
Fixed!

[2016-11-08 12:24] #20 closed

[2017-01-19 10:55] richelbilderbeek commented on #18
I took the liberty of adding a develop branch.

Usage to get to `develop` branch:

[code]

[2017-01-19 10:56] richelbilderbeek commented on #18
Done!

[2017-01-19 10:56] #18 closed

[2017-01-19 10:57] richelbilderbeek commented on #17
Looks like this has been done :-)

[2017-01-19 10:57] #17 closed

[2017-01-23 17:36] richelbilderbeek opened #22 "Is this correct?"
I tried to make a simple testcase, as shown [here](http://rpubs.com/richelbilderbeek/244029).

Instead of the expected value of 0.25, I got 0.333.

@JorikDeBoer: do you think the value should be 0.25 as well?

[2017-01-23 18:07] thijsjanzen commented on #22
In general, especially for small phylogenies, the function "nltt_stat_exact" should be preferred. For large phylogenies, "nltt_stat" is approximately correct (very small error), and much faster. However, the approximations used do not perform well for small trees.

However, for this specific tree, "nltt_stat_exact", throws an error, because there is a polytomy in the phylogeny. In the case of a po

[2017-01-23 18:15] richelbilderbeek commented on #22
Ah, the polytomy is the problem indeed:

[code]

results in 0.25

Thanks for checking me. You think it is a good idea to check against polytomies? I volunteer to implement it.

[2017-01-23 18:16] thijsjanzen commented on #22
yes

[2017-01-23 18:16] richelbilderbeek commented on #22
Working on it :+1:

[2017-01-23 18:39] richelbilderbeek opened #23 "nltt_diff signals it cannot handle polytomies"
I create two phylogenies:

[code]

`phylogeny_2` and `phylogeny_3` are both the lower phylogeny. Except `phylogeny_3` does not have a polytomy.

[code]

It is not signalled clearly that `nltt_diff` does not handle polytomies.

[2017-01-23 18:51] richelbilderbeek commented on #22
Fixed in the `develop` branch for now. It would be cool if we'd accept polytomies. But not today :-)

Thanks for checking me!

[2017-01-23 18:51] #22 closed

[2017-01-23 18:51] richelbilderbeek commented on #23
Closed on `develop`, so I'll close it here already.

[2017-01-23 18:51] #23 closed

[2017-01-24 07:42] richelbilderbeek opened #24 "nltt_diff_exact cannot handle trees with stem"
`nltt_diff_exact`'s nephew `nltt_diff`, works great:

[code]

nltt_diff_exact, however, fails:

[code]

with the message:
[code]

[2017-01-24 08:14] richelbilderbeek commented on #24
There is a problem with the tree I supplied, as `ape::branching.times` converts one branching time to negative. Use this instead:

[code]

[2017-01-24 08:36] richelbilderbeek opened #25 "nltt_diff_exact cannot handle trees with negative branching times"
The error before was `assert(btimes2 <= 0.0)`, which was rather unhelpful. Fail fast instead.

[code]

[2017-01-24 08:43] richelbilderbeek commented on #25
The first 'fix' caused the tests to crash. Oops!

[2017-01-24 08:43] richelbilderbeek commented on #25
It has been done.

[2017-01-24 08:43] #25 closed

[2017-01-24 08:44] richelbilderbeek commented on #24
Fixed this witj #25

[2017-01-24 08:44] #24 closed

[2017-01-24 12:17] richelbilderbeek opened #26 "Test 'abc_smc_nltt use' fails"
Last commit that works: c3e44977d5f7cd3b0a223cfce914c312090bfdf3

I think this is due to a changed `nLTTstat_exact` function.

[2017-01-24 12:24] richelbilderbeek commented on #26
* Copied the original `nLTTstat_exact` function,
 * named it as `nLTTstat_exact_classic`
 * Let the test 'abc_smc_nltt use' use that one instead

Fails just the same!

Would there be a back-end problem?

[2017-01-24 12:24] richelbilderbeek commented on #26
Oops.

[2017-01-24 12:26] richelbilderbeek commented on #26
Experiment: re-run older successful version!

Before:
![before](https://cloud.githubusercontent.com/assets/2098230/22247169/ac154e92-e238-11e6-84ab-7acda94ac550.png)

[2017-01-24 12:30] richelbilderbeek commented on #26
Yuck, that one fails due to `HMisc` being absent. Tme to Go Back In Time and create a branch called 'patch-26'.

[2017-01-24 12:48] richelbilderbeek commented on #26
Older version also fails:

![after](https://cloud.githubusercontent.com/assets/2098230/22247766/bfcc4596-e23b-11e6-84d0-7557ea5986c8.png)

[2017-01-24 13:04] richelbilderbeek commented on #26
Also locally, the old version fails:

![localerror](https://cloud.githubusercontent.com/assets/2098230/22248253/ffb3f544-e23d-11e6-9318-233a9360f69f.png)

[2017-01-24 13:06] richelbilderbeek commented on #26
@thijsjanzen : it appears something has changed beyond the scope of our GitHub

I can fix this by replacing

[code]

by

[code]

Do I have a go?

[2017-01-24 13:08] thijsjanzen commented on #26
I'm unsure why this fails, but a tolerance of 0.052 seems reasonable (however, with the same seeds, this should never fail).
Also, can't the HMisc issue be solved other than reverting to an old version?

[2017-01-24 13:11] richelbilderbeek commented on #26
OK, I'll increase the tolerance.

Fixing `Hmisc` is just removing it from `DESCRIPTION`.

[2017-01-24 13:15] richelbilderbeek commented on #21
There would have been no #26 ...

[2017-01-24 13:22] thijsjanzen commented on #26
Feel free to transition the package to packrat @richelbilderbeek  :D

[2017-01-24 13:39] #26 closed

[2017-01-25 09:21] richelbilderbeek opened #27 "Deprecating nltt_diff"
@thijsjanzen deprecated the `nltt_diff` function, over using the `nltt_diff_exact` function.

There are three ways to go:

 * [ ] 1. Remove `nltt_diff` in the next version
 * [ ] 2. Let `nltt_diff` call `nltt_diff_exact`
 * [x] 3. Move the code from `nltt_diff_exact` to `nltt_diff`, let `nltt_diff_exact` call `nltt_diff` for backwards compatibility

@thijsjanzen: I suggest you pick one and that we

[2017-01-25 09:26] thijsjanzen commented on #27
Yes, I agree that option 3 is the best option. Leaving it like it is now is the lazy option ;)
Will you move the code, or shall I do that later today?

[2017-01-25 09:28] richelbilderbeek commented on #27
Be my guest :+1:

There are plans to add a C++ nLTT statistic implementation in the Bio++ libraries. Your list of references may have made it a convincing point :-)

[2017-01-25 09:30] thijsjanzen commented on #27
That is very cool! I haven't looked into the Bio++ libraries before, but they look very interesting!

[2017-01-25 10:15] thijsjanzen commented on #27
I have moved the nltt_diff_exact code to nltt_diff, and changed the required arguments for the function nLTTstat.
Still required to make the build pass:

- [ ] update manual (roxygen?)
- [ ] fix HMisc dependent code in the example of "get_nltt_values"

[2017-01-25 10:19] richelbilderbeek commented on #27
Yep. I'll do these :muscle:

[2017-01-25 14:24] richelbilderbeek opened #28 "Add Code of Conduct"
I suggest to add a [Code of Conduct](http://contributor-covenant.org/version/1/4/code_of_conduct.md) to this repo. It states that @thijsjanzen is responsible for [proper human behavior] in the development of the `nLTT` package.

Good idea?

[2017-01-25 14:25] richelbilderbeek opened #29 "Add CONTRIBUTING"
It is A Good Idea [no reference out of the top of my head] to add [a CONTRIBUTING file](https://github.com/richelbilderbeek/pbdmms/blob/master/CONTRIBUTING.md). It stimulates others to contribute.

I suggest to do so. I volunteer to write a first draft.

[2017-01-25 14:26] richelbilderbeek commented on #27
Build is clean, so it has been done.

[2017-01-25 14:26] #27 closed

[2017-01-25 14:31] thijsjanzen commented on #28
Sure, go ahead!

[2017-01-25 14:31] thijsjanzen commented on #29
Sure, go ahead!

[2017-01-25 14:40] richelbilderbeek commented on #29
First draft is there.

[2017-01-25 14:40] #29 closed

[2017-01-25 15:25] #28 closed

[2017-02-10 07:55] richelbilderbeek opened #30 "Decrease big-O for nltt_diff_exact_norm_brts"
The function `nltt_diff_exact_norm_brts` may have O(n^2) complexity, as:

 * O(n): a for loop over the branching times
 * O(n): `max` of the branching times

[code]

Options to explore are:

 * Use an implementation of finding the upper bound for sorted data, O(log n)
 * Let `index1` and `index2` increase manually

TODO:

 * [ ] Create a test to check for valid results
 * [ ] Create `nltt_diff_exa

[2017-02-10 09:07] richelbilderbeek opened #31 "nLTTstat_exact on two rcoal trees fails"
Added these basic tests:

[code]

Got errors:

[code]

and

[code]

[2017-02-10 09:11] richelbilderbeek commented on #31
I've seen some overly defensive programming: `nltt_diff` assumed all branching times are positive, which is false for trees with an edge

[2017-02-16 14:55] richelbilderbeek opened #32 "nLTT is present less around 0.5"
From @franciscorichter :

From [his work](http://rpubs.com/franciscorichter/250528)

![2017-02-16-155138_1600x1200_scrot](https://cloud.githubusercontent.com/assets/2098230/23025970/f482fd1c-f45f-11e6-8ffd-4830fcfe892f.png)

And added annotation:

![2017-02-16-155138_1600x1200_scrot](https://cloud.githubusercontent.com/assets/2098230/23026047/515f22f4-f460-11e6-91b5-36f01494f93c.png)

[2017-02-16 14:57] richelbilderbeek commented on #32
I think that this behavior follows from regular mathematics. An nLTT statistic is calculated by dividing two integers. If both integers have a limited range, I would expect the results of their division being smooth.

@thijsjanzen : what do you think?

[2017-02-16 15:02] richelbilderbeek opened #33 "nLTT cannot handle high resolution?"
From @franciscorichter:

One more question, probably easy to answer:

I will add a [mcve](http://stackoverflow.com/help/mcve), unless @franciscorichter would like to take this opportunity for a PR.

[2017-02-21 12:59] richelbilderbeek commented on #32
To quote myself:

Here I demonstrate my idea:

![issue](https://cloud.githubusercontent.com/assets/2098230/23165700/bfddad0a-f83d-11e6-9f5f-c3581552c0d1.png)

This code shows my explanation:

[code]

I'd conclude my idea is correct, but I'd love some unbiased opinion on that. @franciscorichter maybe?

[2017-02-21 12:59] richelbilderbeek commented on #32
If no comments, I will close this Issue in March.

[2017-02-21 13:29] richelbilderbeek commented on #31
Marked with `# Issue 31`

[2017-02-21 13:37] franciscorichter commented on #32
HI Richel, I don´t completely understand your idea. I agree when you said ''I would expect the results of their division being smooth'', but I do not see how your example shows that, the data you plot there is not smooth, but this is because your example has integers only, whereas the nLTT statistic works with real numbers. I am pretty sure that if you perform the same example with enough real num

[2017-02-21 13:58] richelbilderbeek commented on #33
Identified bug:

![issue](https://cloud.githubusercontent.com/assets/2098230/23167814/2502edc8-f846-11e6-85b4-0286f517f5f7.png)

[2017-02-21 14:00] richelbilderbeek commented on #33
Found the culprit:

![issue](https://cloud.githubusercontent.com/assets/2098230/23167892/7d76d1ea-f846-11e6-9dd5-71bcf4f7f8da.png)

[2017-02-21 14:14] richelbilderbeek commented on #33
It appears the flaw lies in a call to `seq` in the `stretch_nltt_matrix` function. Here a code snippet:

[code]

Now the function stops when it cannot fulfill its promise.

[2017-02-21 14:32] richelbilderbeek commented on #32
I try to explain the 'integer division' point below. An nLTT is constructed from integer divisions (the number of lineages divided by the max number of lineages).

OTOH, the [RPubs workshop by franciscorichter](http://rpubs.com/franciscorichter/250528) *is* convincing. I will try now not to divide integers (as below, I just put it there for reference), but use simulated phylogenies instead, to see

[2017-02-21 14:42] richelbilderbeek commented on #32
Too bad [the RPubs workbook](http://rpubs.com/franciscorichter/250528) is not an [mcve](https://stackoverflow.com/help/mcve), as it is not complete. I guess I'll have to fix it.

[2017-02-21 14:47] richelbilderbeek commented on #32
Here is the reprex:

[code]

[2017-02-21 14:48] franciscorichter commented on #32
If you install the [dmea](https://github.com/franciscorichter/dmea) package then it should be enough to reproduce everything on the Rpubs doc, isn't it?

[2017-02-21 14:49] richelbilderbeek commented on #32
And this is the error I get:

![issue](https://cloud.githubusercontent.com/assets/2098230/23169732/2b32a650-f84d-11e6-80d8-afef1f22bf18.png)

Looks like #31 has just made another victim...

[2017-02-21 14:55] richelbilderbeek commented on #33
@franciscorichter : I guess I cannot fix this problem. But it does give an error message, and I did put it in the documentation. Glory is attributed to you in the test.

Thanks again for finding this bug!

Unless there are any more comments, I will close this Issue.

[2017-02-21 14:56] richelbilderbeek commented on #32
@franciscorichter : yes, reproducing the RBook was not that hard, thanks to your great work!

[2017-02-21 15:04] #33 closed

[2017-02-21 15:15] richelbilderbeek commented on #31
Found the problem. When running this:

[code]

I get a nice:

[code]

When adding an edge, however:

[code]

I will get:

[code]

[2017-02-21 19:43] franciscorichter commented on #32
Oh, the trees I am simulating does have extinct species, that means that are not ultrametric and that means that the calculation of nLTTstat function does not make sense, is that true? ... I am not sure if that fact has to do with the gaps on the estimations though. In any case, do you know if is possible to calculate the nLTT statistic for trees considering extinct species?

[2017-02-21 20:00] richelbilderbeek opened #34 "nLTT: for ultrametric trees only?"
@franciscorichter uses the nLTT statistic on complete trees (that is, that still have their extinct lineages). I wonder if it is OK to use the nLTT statistic on non-ultrametric trees.

What do you think @thijsjanzen ?

If the consensus is that nLTT should only be used on ultrametric  trees, this should be checked for

[2017-02-23 07:40] richelbilderbeek commented on #31
Must use `p$root.edge <- 0.1` instead of `p$edge.length <- 0.1`

[2017-02-23 07:45] #31 closed

[2017-02-23 08:05] richelbilderbeek commented on #32
Weird, the reprex did not work anymore :confused: , sent the Issue above.

[2017-02-23 10:55] richelbilderbeek commented on #32
OK, thanks to @franciscorichter for fixing his code, resulting into this:

[code]

Sadly, it takes too long on my computer.

I will try to create a simpler [mcve](https://stackoverflow.com/help/mcve)

[2017-02-23 11:18] richelbilderbeek commented on #32
Here it is:

[code]

![nlttplot](https://cloud.githubusercontent.com/assets/2098230/23256998/0ef978bc-f9c2-11e6-84a7-fa4e67dbb7c1.png)

Note that I cannot reproduce the behavior.

@franciscorichter : may it be a feature of the `dmea` model to *result* in the nLTT plots as shown above?

[2017-02-23 11:29] franciscorichter commented on #32
by other hand I got this, do you know what is it?

[code]

[2017-02-23 11:40] richelbilderbeek commented on #32
Looks like an off-topic question to me. Try Google and read [the first hit](https://github.com/wch/movies/issues/3)

[2017-03-28 09:34] richelbilderbeek commented on #32
As it appears that nLTT works fine, I will close this Issue.

[2017-03-28 09:34] #32 closed

[2017-04-27 08:43] thijsjanzen opened #35 "panDoc related errors"
From the CRAN package check results: https://cran.r-project.org/web/checks/check_results_nLTT.html

Check: re-building of vignette outputs
Result: WARN
    Error in re-building vignettes:
     ...
    Warning in engine$weave(file, quiet = quiet, encoding = enc) :
     Pandoc (>= 1.12.3) and/or pandoc-citeproc not available. Falling back to R Markdown v1.
    Error: processing vignette 'vignette_ge

[2017-05-15 10:43] richelbilderbeek commented on #35
Note to self:

From [https://www.rdocumentation.org/packages/knitr/versions/1.12.3/topics/vignette_engines](https://www.rdocumentation.org/packages/knitr/versions/1.12.3/topics/vignette_engines) I quote:

[code]

[2017-05-15 10:44] richelbilderbeek commented on #35
Hmm, `rmarksdown` *is* already in the `Suggests`.

[2017-11-20 07:34] richelbilderbeek commented on #34
Lost interest, thus closing this Issue

[2017-11-20 07:34] #34 closed

[2017-11-20 07:43] richelbilderbeek commented on #35
Added `Hmisc` in `Suggests`, as I got the error that `Hmisc` was missing when knitting the vignette.

[2017-11-20 07:45] richelbilderbeek commented on #30
Lost interest, closing Issue for now.

[2017-11-20 07:45] #30 closed

[2017-11-20 07:45] richelbilderbeek commented on #21
Lost interest, closing Issue for now.

[2017-11-20 07:45] #21 closed

[2018-02-26 09:40] thijsjanzen opened #37 "Polytomies"
Currently I'm working on a simulation project that generates polytomic trees (e.g. non-binary, with a threeway split).

Current support fails with the error:

This should be fixed in two ways:
1. improve error message
2. include polytomic support

[2018-04-16 11:23] richelbilderbeek opened #38 "Bug in nltts_plot"
[code]

[2018-04-16 11:58] richelbilderbeek commented on #38
Problem was in `pirouette` package calling this function with a posterior. Converting that to a `multiPhylo` solved the problem.

[2018-04-16 11:58] #38 closed

[2018-04-16 12:08] richelbilderbeek commented on #35
Problem: keep `.R` and `.Rmd` files in `vignette` folder.

[2018-04-16 14:31] richelbilderbeek commented on #35
Maybe fixed it, need to look at CRAN link later.

[2018-04-17 07:43] thijsjanzen commented on #35
Sure, I can upload it! I think there have been a lot of updates recently as well.
What should we do with the version number?

[2018-04-17 13:58] thijsjanzen commented on #37
We could include polytomy support by using the ape::multi2di, which resolves polytomies

[2018-04-17 14:51] richelbilderbeek commented on #35
1.4 would be fine @thijsjanzen :+1:

[2018-04-18 13:05] thijsjanzen commented on #35
Dear maintainer,

thanks, package nLTT_1.4.tar.gz is on its way to CRAN now.

Best regards,
CRAN teams' auto-check service

[2018-04-20 08:15] thijsjanzen commented on #35
Some issues remain:

oddly, these issues did not pop up when building and checking --as-cran on my macbook (I guess my maxOS is a different version)

[2018-04-25 04:54] richelbilderbeek commented on #35
Indeed, [Travis thinks it is OK](https://travis-ci.org/richelbilderbeek/nLTT/jobs/368057130#L1329), [AppVeyor thinks it is OK](https://ci.appveyor.com/project/richelbilderbeek/nLTT/branch/master#L270), my computer thinks so as well.

Does this stop the CRAN submission? If yes, will look into this on Saturday

[2018-04-25 07:24] thijsjanzen commented on #35
No, version 1.4 is on CRAN, no issues with the CRAN maintainers.

[2018-04-25 08:33] richelbilderbeek commented on #35
No hurries then :+1:

[2018-05-16 10:20] thijsjanzen opened #39 "CRAN metadata issue"
I just received the following e-mail regarding the nLTT package:

I don't know which lines or code they are referring to. @richelbilderbeek  do you have any idea?

[2019-03-06 20:22] thijsjanzen opened #41 "New random number generator on CRAN"

[2019-03-06 20:22] thijsjanzen commented on #41
I don't really understand what needs to be done though...

[2019-03-11 12:31] thijsjanzen commented on #41
I have added 'suppressWarnings(RNGversion("3.5.0"))' where applicable (as far as I can see).

I don't know how to check the package using the new R version, so I can't test whether what I did resolves the issues provided. You surely know @richelbilderbeek ?

[2019-03-11 13:26] richelbilderbeek commented on #41
Yes, it's already fixed :+1:

[2019-05-03 09:54] thijsjanzen opened #42 "nLTT incompatible with R 3.6.0"
It seems that nLTT does not run under R 3.6.0 I suspect it is to do with Issue #41

[2019-05-07 12:36] richelbilderbeek commented on #42
Nah, DDD needs 3.6.0. I already added a [Pull Request](https://github.com/rsetienne/DDD/pull/8).

As a workaround, we could use my fork.

[2019-05-16 12:41] richelbilderbeek opened #43 "Fix ABC issue in 'Walkthrough' vignette"
[Here](https://github.com/richelbilderbeek/nLTT/blob/master/vignettes/walkthrough.Rmd#L117) I if-fed out some code that caused the Travis build to fail.

As this is the part of @thijsjanzen, I suggest he fixes it. Good luck :+1:

[2019-05-16 12:52] thijsjanzen commented on #43
This is an issue with TESS - I'm changing the example bd-tree simulator to the sim.bd.taxa.age function in TreeSim.

[2019-05-16 13:02] thijsjanzen opened #44 "Add log transform number of lineages option"
Add an option (by default FALSE) to log-transform the number of lineages before normalization. This should put weight on differences in deep-time.

[2019-05-16 13:02] thijsjanzen commented on #41
I have removed all the suppressWarnings(RNGversion("3.5.0") additions I made previously. I do not see any changes in behaviour.

[2019-05-16 13:08] thijsjanzen opened #45 "test fail"
With the new random number generator, two tests in 'test-nLTTstat.R' fail:

[code]

I suspect because ape::rcoal no longer negerates the same trees. Please confirm and update the hardcoded nLTT differences that should be met (but are not now).

[2019-05-16 13:09] thijsjanzen commented on #43
Fixed now by using sim.bd.taxa.age from TreeSim

[2019-05-16 13:09] #43 closed

[2019-05-16 13:20] richelbilderbeek commented on #44
May do, when I need it. I'll unassign myself until then.

[2019-05-16 13:21] richelbilderbeek commented on #41
Wouldn't it be fixed already?

To [quote myself](https://github.com/richelbilderbeek/nLTT/issues/41#issuecomment-471537343):

[2019-05-16 13:56] thijsjanzen commented on #45
Once this is resolved, I will submit the new version to CRAN.

[2019-05-17 13:25] thijsjanzen opened #46 "Submitting to CRAN"
Upon submitting to CRAN, I receive the following error:

Alternatively, after switching to the master branch and locally building the tarball, and subsequently running `R CMD check --as-cran nLTT_1.4.tar.gz `, I receive the following errors (which somehow don't show up on Travis)

[code]

I don't understand...

[2019-05-17 13:44] richelbilderbeek commented on #46
* Travis may use a different version than your local computer. Currently, Travis builds for MacOS and Linux (both `r-devel` and `r-release`)
 * I've seen that on AppVeyor the Windows build fails, no idea why

[2019-05-17 13:46] richelbilderbeek commented on #45
Blimey, I see I am assigned. No idea why, will unassign for now.

[2019-05-17 13:47] richelbilderbeek commented on #35
Close this Issue, things work on Travis in three build environments :+1:

[2019-05-17 13:47] #35 closed

[2019-05-17 16:47] thijsjanzen commented on #45
I don't know why these values were hardcoded - with the new random number generator, it seems that ape::rcoal no longer generates the same trees with the given seed as before.

However, alternatively it could be that @richelbilderbeek independently, outside R, verified the nLTT between these trees and hardcoded that outcome.
If this is not the case, I will update the hardcoded values to what we ge

[2019-05-17 16:47] #41 closed

[2019-05-17 16:57] thijsjanzen commented on #46
See Issue #45

[2019-05-18 08:39] #45 closed

[2019-05-18 13:14] richelbilderbeek commented on #46
Test is fixed!

Perhaps you need to contact @rsetienne, as [DDD needs R 3.6.0, but can live fine without it](https://github.com/rsetienne/DDD/pull/8).

[2019-05-18 14:37] thijsjanzen commented on #46
Submitted to CRAN

[2019-05-18 14:47] richelbilderbeek commented on #46
Cool, :crossed_fingers:

[2019-05-19 06:22] #46 closed

[2019-05-19 06:22] #39 closed

[2019-07-29 11:48] thijsjanzen commented on #44
I have updated all nLTT functions to include log transformations - see the new branch.
It seems this doesn't generate errors.
However, I have not yet checked all visualization options.

Also, some additional tests might proof valuable.

[2019-08-05 11:01] richelbilderbeek commented on #44
Looks good enough to merge to `develop` to me :shipit:!

[2019-08-18 10:21] richelbilderbeek commented on #44
I took the liberty to merge to develop, for [pirouette_example_14](https://github.com/richelbilderbeek/pirouette_example_14).

[2019-08-18 11:26] richelbilderbeek opened #48 "Use 'nltts_diff'"
~~Currently, `get_nltt_values` has a second argument `dt`. Remove it and use an exact version~~.

I can just use `nltts_diff`, added the confusion to the documentation.

[2019-08-18 11:31] richelbilderbeek commented on #48
Well, that function works, so nothing to be done! :rainbow:

[2019-08-18 11:31] #48 closed

[2019-10-13 11:16] richelbilderbeek opened #49 "Fix MacOS build"
There's a new error in [the nLTT logs](https://travis-ci.org/richelbilderbeek/nLTT/jobs/597219736#L941).

Something changed upstream for MacOS. I've disabled that Travis builds for MacOS for now, but it would be good to have this error fixed.

[2019-10-14 08:38] thijsjanzen commented on #44
I believe this is included in master now and can be closed @richelbilderbeek ?

[2019-10-14 08:41] thijsjanzen commented on #42
Does this issue still persist?

[2019-10-14 10:43] richelbilderbeek commented on #44
Yup! Go ahead and kill that obsolete branch :+1: :shipit:

[2019-10-14 10:44] richelbilderbeek commented on #42
AFAIK now. Go each and close this Issue: we'll re-open iff the problem appears to persist :shipit:

[2019-10-14 10:46] richelbilderbeek commented on #49
Unsure. Maybe they think clang should fix this, not them :grin:.

In other words: let use get a workaround in place. I suffer the same problem on other of my R repos as well, so if I find a workaround, I will apply it here as well.

[2019-11-08 09:51] thijsjanzen opened #50 "indirect nLTT is not 100% accurate"
The idea is the following: if you can not calculate d(A, B) (where d = distance, A is a tree and B is a tree), but you can calculate d(A, C) and d(B, C), then d(A, B) = d(A, C) - d(B, C). This should be generally true, but when applying this to nLTT, it is not entirely accurate, especially when A and B are highly similar - it seems there are some accuracy problems.

Consider:
[code]

[2019-11-08 09:55] thijsjanzen commented on #50
Related to this, shouldn't we make the function 'nltt_diff' point towards 'nltt_diff_exact' ?

[2019-11-13 17:00] richelbilderbeek commented on #50
Helpful plot:

![screen](https://user-images.githubusercontent.com/2098230/68786065-7262b800-063f-11ea-843a-07dbd1ad790d.png)

[2019-11-13 18:47] richelbilderbeek commented on #50
@thijsjanzen: I would enjoy you'd articulate what is the problem. We know computers make rounding errors :rainbow: .

Could you supply a test that you would expect to pass, but in reality fail? Those, I can work with for breakfast :sunglasses: !

[2019-11-13 20:57] thijsjanzen commented on #50
The question is - are these rounding errors? If they were, shouldn't they be normally distributed?

Basically, using the indirect method, tends to over-estimate the nLTT.
This is, because the indirect substraction trick only works if the two nLTT lines do not intersect.
Consider the following instructive example:

[code]

![ltt_plot](https://user-images.githubusercontent.com/19486664/68803723-9387

[2019-11-19 09:12] richelbilderbeek commented on #50
I think questions are:

 * Are these errors or consequences of computers having finite precision?
 * Do these errors matter?

I think it's nice to rediscover computer have finite precision and rediscovering rounding errors need not be normally distributed, but if it's irrelevant in practice, one should close this Issue.

So, do these errors matter? If yes, how much? If much, will using arbitrary p

[2020-01-08 15:42] thijsjanzen commented on #50
Allright, further thinking has alleviated that these are *not* rounding errors, but that the approach is inherently flawed.

The premise:  d(A, B) = d(A, C) - d(B, C), only holds if A > B, that is, if the nLTT curve of A does *not* intersect the nLTT curve of B. If it does, subtracting the two surfaces no longer yields a valid answer. Typically, as two nLTT curves become more similar, they are mor

[2020-01-08 15:42] #50 closed

[2020-01-08 15:43] #44 closed

[2020-01-08 15:43] #42 closed

[2020-01-08 16:05] thijsjanzen commented on #49
I have re-enabled the macos build, and all went fine.

[2020-01-08 16:05] #49 closed

[2020-02-10 12:58] richelbilderbeek opened #52 "Fix lintr warnings"
Hi @thijsjanzen,

as can be seen in Pull Request #51, our friend @lintr-bot still has some suggestions to improve nLTT even more. Me and @Neves-P both try to get a clean lint, but we may not see everything anymore die to many suggestions in the ABC part of the code.

Would be great if you'd clean up your part of the code!

No rush, but it would make people and bots happy :+1:

Cheers, Richel

[2020-02-12 12:39] thijsjanzen commented on #52
I have fixed most of@lintr-bot comments, except some cyclomatic complexity issues that I do not have the time for, and that I also don't think are relevant right now - furthermore, the ABC and MCMC code exists mainly as a repository for the code used in the original nLTT paper. Fixing the cyclomatic complexity for these functions would force a re-write, and break continuity: the new less cyclomati

[2020-02-12 12:58] richelbilderbeek commented on #52
Well done!

I see your point about the ABC functions.

Using `# nolint` is a slippery slope, so if these functions are not part of the nLTT functionality, I would prefer to move them, for example either to `scripts/paper.R` or a repo like `thijsjanzen/nltt_paper`.

Well, in the end, you are the owner here, feel free to ignore my opinion. :+1:

[2020-02-12 13:31] thijsjanzen commented on #52
I see your point, and I think nolinting the entire file is not really desirable.

On the other hand, moving it to scripts also seems undesirable, because this causes exclusion from the PDF manual, and breaks all tests of this code. Similarly, moving to another repo also makes it harder for users to find this code, and that should be avoided.

For now, it seems we'll have to live with these two men

[2020-02-12 15:25] richelbilderbeek commented on #52
Nah, I know a trick to exclude linting from files... just you wait for the magic to happen :rainbow:

[2020-02-12 15:29] richelbilderbeek commented on #52
Oops, committed on master :pray:

[2020-02-12 15:42] richelbilderbeek commented on #52
Works, only four messages left:

[code]

I suggest to let the author of each function simplify it. AFAICS, two are mine and two are of the DAISIE team.

After fixing this, @thijsjanzen, can we put an enforced lint on the package (as done, for example, [here](https://github.com/richelbilderbeek/mcbette/blob/master/tests/testthat/test-style.R))?

[2020-02-12 15:47] richelbilderbeek opened #53 "Test last line of code"
I see [in the Travis build log](https://travis-ci.org/thijsjanzen/nLTT/jobs/649507034#L1235), there is one line being untested, `R/ABC_SMC.R:266`. Would this line be tested, code coverage would be 100%!

@thijsjanzen: I suggest to either remove the line (as it is not triggered anyways by the test), or write a test to trigger it.

Good idea?

[2020-02-13 05:58] thijsjanzen commented on #52
Agreed! Juicy!

[2020-02-13 06:10] thijsjanzen commented on #53
I have opted to remove this line in: https://github.com/thijsjanzen/nLTT/commit/f99096da753ec3ffb3b4c6b831d93f2f7911126b

[2020-02-13 06:10] #53 closed

[2020-02-13 06:21] richelbilderbeek commented on #52
I will fix my functions this Saturday.

[2020-02-13 06:30] richelbilderbeek opened #54 "Add Neves-P to DESCRIPTION as a contributor"
@thijsjanzen: I suggest to add @Neves-P to the DESCRIPTION as a contributor for the functions he provided. Doing so is easy, similar to e.g. Giovanni's contribution to babette [here](https://github.com/ropensci/babette/blob/master/DESCRIPTION#L8).

Sure, I volunteer to do so :+1:

[2020-02-13 06:36] thijsjanzen commented on #52
Then, why not fix it on Monday?
It's weekend after all! No rush at all needed here, these issues are very, very minor.

[2020-02-13 06:43] thijsjanzen commented on #54
Done in a38f6a4e321490497387d025972953cd227bff31

[2020-02-13 06:43] #54 closed

[2020-02-13 10:44] Neves-P commented on #52
Hi both! Sounds like a great plan, I'll work on it 👍

[2020-02-14 13:19] richelbilderbeek commented on #52
OK, here is the distribution of labor:

 * [ ] @richelbilderbeek: `get_average_nltt_matrix`
 * [ ] @Neves-P: `nltt_diff_exact_extinct`
 * [ ] @richelbilderbeek: `nltts_plot`
 * [ ] @richelbilderbeek: `stretch_nltt_matrix`

[2020-02-18 11:57] richelbilderbeek commented on #52
Done! Also a clean lint is enforced now :+1:

[2020-02-18 11:57] #52 closed

[2020-09-09 08:24] richelbilderbeek opened #56 "master broken"
Hi @thijsjanzen, on Travis, [master is broken](https://travis-ci.org/github/thijsjanzen/nLTT/jobs/725498361#L5148). Reason is that `lintr` now also checks vignettes for style. Will be an easy fix, I just wanted to make you aware of this :+1:

[2020-09-09 09:15] thijsjanzen commented on #56
I know, it happened after I added a sticker to the README.
I will look into this later this week to fix the vignettes.

[2020-09-09 12:04] thijsjanzen commented on #56
fixed.

[2020-09-09 12:04] #56 closed

[2020-12-16 13:33] thijsjanzen opened #57 "switch to GitHub Actions"
With the upcoming monetizing moves at TravisCI, I propose to move CI to GitHub Actions.
I have already set up the actions, what remains is removal of Travis.

What do you think @richelbilderbeek ?

[2020-12-16 13:49] richelbilderbeek commented on #57
I completely agree! I am phasing out Travis CI as well for all my other packages ...

[2021-11-03 17:17] EvoLandEco opened #58 "Nicer and reproducible examples"
I rupdated all the wiki pages using R Markdown, and fixed several issues that prevent the code from running correctly. I think the new wiki's look nicer and are easier to follow.
Please find the pages at https://github.com/EvoLandEco/nLTT-vignette/

[2022-02-18 13:29] thijsjanzen commented on #57
Done

[2022-02-18 13:29] #57 closed

[2022-05-10 11:28] thijsjanzen opened #59 "noSuggests CRAN"
I got an email from CRAN that the package will be archived if we do not resolve the 'noSuggests' issue:

the 'noSuggests' check performs the following:

I don't really understand how this should be resolved - as far as I understand, packages used in tests, should be added to the 'suggests' list and NOT to depends. The R manual (https://cran.r-project.org/doc/manuals/r-release/R-exts.html) says:

U

[2022-05-10 16:55] Neves-P commented on #59
Hey @thijsjanzen
Following up on our chat in the office, at first glace this really looks like now there is an issue with code calling functions in suggested packages that is not caught by the `requireNamespace()` approach you mention. I recall that on DAISIE on functions we took that approach, see here:
https://github.com/rsetienne/DAISIE/blob/36674127e0451f78372196bf759e11b5f05c9184/R/DAISIE_plo

[2022-05-12 12:14] thijsjanzen commented on #59
Ok, I have now fixed the tests - I use more the (imported) ape simulator where possible, and have used the testthat::skip_if_not_installed flag to fix those where I couldn't.

However, it remains failing (it seems) for rmarkdown, which is used in the Vignettes (I know right).

In this package they seem to have made it work however: https://github.com/SoftwareAG/r-pmml/commit/7b3510645f8221d5901eb1

[2022-05-13 07:57] thijsjanzen commented on #59
Ok, it seems to work now (at least when checking locally).
I had to remove the ABC part from the vignette to make it work. This is unfortunate, but it stays online on the GitHub Wiki (although I'm worried that most people will not find that).

[2022-05-16 08:47] thijsjanzen commented on #59
I have merged develop with master and submitted this version to CRAN. let's see how it does in their tests.

[2022-05-16 08:47] #59 closed